# Auth Service Environment Configuration
PORT=5101
MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/paper-trading
JWT_SECRET=enter your JWT secret key
TRADING_SERVICE_URL=http://localhost:5102
