# Trading Service Environment Configuration
PORT=5102
MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/paper-trading
JWT_SECRET=Enter your JWT secret key
MARKET_SERVICE_URL=http://localhost:5103
